body { color:black; background:white; }
a:link { color:blue; }
a:visited { color:purple; }
a:active { color:black; }
a:link:hover, a:visited:hover { color:black; background:white; }

h1,h2,h3,h4,h5,h6 { font-family:Arial,Helvetica,Sans-serif; }

.alert { 
   font-family:Arial,Helvetica,Sans-serif;
   background:red;
   color:white;
   margin-right:2em;
   font-weight:bold;
}
.question { font-style:italic; }
.cmd { font-style:italic; }
.answer { font-style:normal; }
.term { font-family:Arial,Helvetica,Sans-serif; font-weight:normal; }
.header { font-family:Arial,Helvetica,Sans-serif; font-weight:normal; }
.hrefs { font-family:Arial,Helvetica,Sans-serif; 
         font-weight:bold; 
			font-size:small; }
.heading { font-family:Arial,Helvetica,Sans-serif; font-size:larger;
           font-weight:bold; }
.title { font-family:Arial,Helvetica,Sans-serif; font-size:small;
           font-weight:bold; }
.freedom { font-family:Arial,Helvetica,Sans-serif; 
           font-weight:bold; color:white; }
.url { font-family: Monospace; }
.magazine { font-family:Arial,Helvetica,Sans-serif; font-weight:normal; }
.name { font-family:Arial,Helvetica,Sans-serif; font-weight:normal; }
.item {
   font-family: Arial,Helvetica,Sans-serif;
   font-weight:bold;
   color:green;
}
.fun {
   font-family:Comic Sans MS, Sans-serif;
   font-weight:normal;
	font-size:small;
   color:green;
}
.quote {
   font-family:Comic Sans MS, Sans-serif;
   font-weight:bold;
	/*text-indent:1em;*/
	font-size:smaller;
   color:teal;
	width:80%;
}
blockquote.reverse {
   background:black;
   color:yellow;
   font-weight:bold;
   text-align:center;
   margin-left:4em;
   margin-right:4em;
   padding:2em;
}
.cnuwmotto {
   /*font-family:Arial, Helvetica, Sans-serif;*/
	font-style:italic;
   font-weight:bold;
   color:#cc3300;
}
